<!Doctype html>
<html lang="es"    >
<head>
    <meta charset="utf-8" />
    <title>DAW</title>    
    <link rel="stylesheet"  href="css/layout6.css" />
    
</head>
<body>
    <header>Capçalera</header>
    <nav>Menu de navegacio horizontal</nav>
    
    <main>
        <h1>Aci podria anar el titol</h1>
        <section class="w80">
            <h2>Titol1 h2.</h2>
            <p>Estem dins d'un section que ocupa el 80% del seu contenidor</p>
        </section>
        <section>Contingut lateral</section>
        <section class="w80">
            <h2>Titol2 h2.</h2>
            <p>Igual que el de dalt</p>
        </section>
    </main>
    <footer>
        Peu de pagina
    </footer>
</body>
</html>